.DS_Store/

frontend/.DS_Store/

backend/.DS_Store/

frontend/.gradle/

frontend/.idea/

backend/.gradle/

backend/.idea/

frontend/*.iml
frontend/.gradle
frontend/local.properties
frontend/.idea/caches
frontend/.idea/libraries
frontend/.idea/modules.xml
frontend/.idea/workspace.xml
frontend/.idea/navEditor.xml
frontend/.idea/assetWizardSettings.xml
frontend/.DS_Store
frontend/build
frontend/captures
frontend/.externalNativeBuild
frontend/.cxx

backend/build/